@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import 'mediaqueries.css';

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973_960_720.jpg);
  max-width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 30px;
}

.navbar .brand {
  color: #8bf733;
}

.navbar .menu {
  grid-column: 6 / 9;
  display: flex;
  margin-top: 12px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  margin-right: 3em;
  font-size: 1.3em;
  color: #fff;
  font-weight: 200;
  padding: 10px 20px;
}
.menu li a:hover {
  background-color: #6af733;
  transition: all .5s;
  color: #000;
}

.menu-bar {
  display: none;
}

/* MAIN SECTION */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-info {
  margin-top: 5em;
  color: #fff;
}

button {
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 3px 14px -8px rgba(0,0,0,0.78);
}
button:hover {
  box-shadow: none;
}

.VER {
  background-color: #ff0000;
  padding: 8px 40px;
  font-size: 1.2em;
  border-radius: 20px;
  border: none;
}

.read-more {
  background: none;
  border: 1px solid #fff;
  margin: 20px;
}

.main img {
  margin-top: 3em;
}


/*  FOOTER SECTION */

.footer {
  background-color: #83f150;
  color: #000;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer .menu li {
  margin-top: 20px;
}

.footer .social-network .fab {
  font-size: 1.8em;
  margin: 10px;
}

.footer .social-network .fab:hover {
  color: #f7b733;
}


@media only screen and (max-width: 600px) {


  .hero {
    overflow-x: hidden;
  }

  .navbar {
    background-color: #fa0000;
    height: 80px;
    box-shadow: 2px 2px 15px 0px  rgba(0, 0, 0, .42);
    align-items: center;
  }
  .navbar h2 {
    font-size: 2em;
  }
  .navbar .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #fa0000;
    height: 50vh;
    left: -1em;
    transform: translateY(-120%);
    transition: all 1.4s;
    z-index: 1;
  }
  .navbar .menu-toggle {
    transform: translateY(0%);
  }
  .menu li {
    margin-top: 3em;
  }
  .navbar .menu-bar {
    display: block;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
  }

  /* MAIN SECTION */

  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 70vh;
  }
  .main img {
    width: 12em;
  }
  .main h1 {
    margin-top: -80px;
  }
  .main .button-content {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  


  /* FOOTER SECTION */

    .footer {
      flex-direction: column-reverse;
    }

    .footer .quicklinks .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    } 

    .footer .social-network {
      margin: 2em;
    }
    .footer h3 {
      font-weight: lighter;
      margin-top: 1em;
      color: #f7b733;;
    }



}
